.wp-block-create-block-sp-youtube-channel {
  .ap-url-with-submit {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	position: relative;
	margin: 0 auto;

	.components-base-control {
	  width: 100%;
	  height: 74px;
	}

	input {
	  padding: 10px 145px 10px 20px;
	  width: 100%;
	  border-color: #464646 !important;

	  &:focus {
		box-shadow: none !important;
		border-color: #464646 !important;
	  }
	}

	button {
	  position: absolute;
	  right: 0;
	  top: 25px;
	  background: #030303;
	  color: #ffffff;
	  border: none;
	  border-color: transparent !important;
	  box-shadow: none !important;

	  &:focus {
		box-shadow: none !important;
		border-color: transparent !important;
	  }

	  &:active {
		background: #464646 !important;
		color: #ffffff !important;
	  }

	  &:hover {
		color: #ffffff !important;
	  }
	}
  }
}
